.carousel {
  &__title {
    font-size: 2rem;
    @media #{$sm} {
      font-size: 1.4rem;
    }
  }
  &__logos {
    margin: 100px 0;
    @media #{$sm} {
      margin: 40px 0;
    }
    img {
      width: 200px;
      height: 200px;
    }
    svg {
      fill: $color-main-dark;
      margin: 0 30px;
      @media #{$sm} {
        margin: 0 10px;
      }
    }
  }
}