.hero {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: relative;
  height: 100vh;
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $color-black;
    opacity: .85;
  }
  .container {
    position: relative;
    z-index: 2;
    h1 {
      font-size: 3rem;
      font-weight: 700;
      width: 80%;
      color: $color-main;
      padding-top: 200px;
      padding-bottom: 120px;
      text-transform: uppercase;
      @media #{$md} {
        padding-bottom: 40px;
        font-size: 2.8rem;
      }
      @media #{$sm} {
        font-size: 1.6rem;
        width: 100%;
        padding-top: 120px;
      }
    }
  }
  &__content {
    justify-content: space-between;
    @media #{$md} {
      flex-direction: column;
    }
    .blocks {
      width: 35%;
      flex-direction: column;
      @media #{$md} {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 40px;
      }
      @media #{$sm} {
        margin-bottom: 0;
      }
      .block {
        padding-bottom: 40px;
        font-size: 1.6rem;
        line-height: 2.4rem;
        @media #{$md} {
          width: 45%;
        }
        @media #{$sm} {
          font-size: 1.1rem;
          line-height: 1.9rem;
          width: 45%;
        }
        .percent {
          font-size: 2.2rem;
          @media #{$sm} {
            font-size: 1.6rem;
          }
          span {
            font-size: 3rem;
            font-weight: 400;
            @media #{$sm} {
              font-size: 2rem;
            }
          }
        }
      }
    }
    .button {
      align-items: flex-end;
      padding-bottom: 40px;
      @media #{$sm} {
        margin: 0 auto;
      }
    }
  }
}