.objects {
  padding: 100px 0;
  .wrapper  {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template: 1fr 1fr;
    gap: 30px;
    grid-template-areas:
    "accommodation business land"
    "industrial industrial industrial";
    @media #{$md} {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      grid-template-areas:
    "accommodation business"
    "land industrial";
    }
    @media #{$sm} {
      grid-template-columns: 1fr;
      gap: 20px;
      grid-template-areas:
    "accommodation"
    "business"
    "land"
    "industrial";
    }
    &__accommodation {
      grid-area: accommodation;
    }
    &__business {
      grid-area: business;
    }
    &__land {
      grid-area: land;
    }
    &__industrial {
      grid-area: industrial;
    }
    .item {
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      &._long {
        background-position: 100% 50% !important;
        &:after {
          content: '';
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          background-color: rgba(11,12,16,.5);
        }
      }
    }
    .pic {
      position: relative;
      transition: .3s;
      &__text {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 60%;
        left: 0;
        padding: 20px;
        font-size: 1.6rem;
        @media #{$md} {
          top: 50%;
        }
        @media #{$sm} {
          top: 60%;
          font-size: 1.2rem;
          padding: 15px;
        }
        span {
          font-style: italic;
        }
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}